<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <h3 class="bg-primary text-white text-center p-3">Todo List</h3>

<div class="input-group mb-3">
<input type="text" class="form-control">
<button class="btn btn-outline-primary">Add</button>

</div>

<div class="form-check mb-3">
<input type="checkbox" class="form-check-input" id="displayAll">
<label class="form-check-label" for="displayAll">Display All</label>


</div>

      <table class="table table-bordered">

        <thead>
          <tr>
            <th></th>
            <th>Todo</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Einkaufen</td>
            <td>Ja</td>
          </tr>

          <tr>
            <td>2</td>
            <td>Coachen</td>
            <td>Ja</td>
          </tr>

          <tr>
            <td>3</td>
            <td>Aufraumen</td>
            <td>Nein</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
